<div class="body">
    <div>
        <img src="../assets/images/pumperpal-logo-light (1).svg" alt="image logo" class="log">
    </div>
    <div class="div1">CREATE AN ACCOUNT</div>
    <div>
        <input matInput placeholder="First name" class="div2">
        <mat-icon aria-hidden="false" class="pp">account_circle</mat-icon>
    </div>

    <div>
        <input matInput placeholder="Last name" class="div2">
        <mat-icon aria-hidden="false" class="pp">account_circle</mat-icon>
    </div>
    <div>
        <input matInput placeholder="Email address" class="div2">
        <mat-icon aria-hidden="false" class="pp">email_outlet</mat-icon>
    </div>
    <div>
        <input matInput type="password" placeholder="Password" class="div2">
        <mat-icon aria-hidden="false" class="pp">lock_outline</mat-icon>
    </div>
    <div>
        <button mat-raised-button class="botton">CREATE ACCOUNT</button>
    </div>
    <div>
        <a href="#" class="href"> already have an account</a>
    </div>
    <div>
        <img src="../assets/images/pumperpalbg.png" alt="image" class="img">
    </div>
</div>