<!-- functionality -->
<h1>name:{{name}}</h1>
<button (click)="show()">onclick</button>

<!-- count -->
<button (click)="increment()">increment</button>
<button (click)="decrement()">decrement</button>
<h1>count:{{count}}</h1>

<!-- <!..ngif..> -->
<h1 *ngIf="showtext">click on botton</h1>
<button (click)="change()">modify</button>
<!-- <p (click)="add()" *ngIf="para">add</p> -->

<!-- ngfor -->
<table class="border">
    <thead>
        <tr class="border">
            <th class="border">ID</th>
            <th class="border">NAME</th>
            <th class="border">CLASS</th>
        </tr>
    </thead>
    <tbody class="border">
        <tr *ngFor="let each of list" class="border">
            <td class="border">{{each.id}}</td>
            <td class="border">{{each.name}}</td>
            <td class="border">{{each.class}}</td>
        </tr>
    </tbody>
</table>

<button (click)="fun()">object</button>
<table>
    <thead>
        <th *ngFor="let keys of s1">{{keys}}</th>
      
    </thead>
    <tbody>
        <tr *ngFor="let values of s2">
            <td>{{values.company}}</td>
            <td>{{values.experience}}</td>
            <td>{{values.skills}}</td>

        </tr>
    </tbody>
</table>
<p (click)="para()">text</p>
<p *ngIf="even">even number</p>
<button (click)="erd()">button</button>